.custom-primary-button.ant-btn-primary {
    background-color: #e74860 !important;
    color: #ffffff !important;
    font-size: 0.9rem;
    padding: 5% 10%;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
}

.ant-carousel .slick-dots {
    bottom: 18% !important;
    left: 7% !important;
    display: flex !important;
    justify-content: flex-start !important;
}

/* Style individual dots */
.ant-carousel .slick-dots li button {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50% !important;
    border-color: linear-gradient(to right, #2d2d2d, #f4f4e9, #2d2d2d);
}

/* Style active dot */
.ant-carousel .slick-dots li.slick-active button {
    background-color: #e74860 !important; /* Active dot color */
    border-color: linear-gradient(to right, #2d2d2d, #f4f4e9, #2d2d2d);
    border: 2px solid;

    transform: scale(1.2) !important; /* Slightly enlarge active dot */
}

/* Adjust spacing between dots */
.ant-carousel .slick-dots li {
    margin: 0 8px !important; /* Increase spacing between dots */
}
