.custom-primary-button.ant-btn-primary {
    background-color: #e74860 !important;
    color: #ffffff !important;
    font-size: 0.9rem !important;
    font-weight: 400 !important;
    text-align: center !important;
    border-radius: 4px !important;
}

.navButton.ant-btn-primary {
    padding: 0 14px !important;
    width: 100% !important;
}

.readMore.ant-btn-primary {
    padding: 22px 24px !important;
}

.demo.ant-btn-primary {
    font-size: 1rem !important;
    width: 28% !important;
    padding: 20px 24px !important;
}

.customer.ant-btn-primary {
    width: 16% !important;
    padding: 20px 24px !important;
    margin-top: 3%;
}

.container1 .ant-carousel .slick-dots {
    bottom: 20% !important;
    left: 7% !important;
    display: flex !important;
    justify-content: flex-start !important;
}

.container7 .ant-carousel .slick-dots {
    bottom: -10% !important;
    left: 40% !important;
    display: flex !important;
    justify-content: flex-start !important;
}

.container5 .ant-carousel .slick-dots {
    bottom: -8%;
    left: 45%;
    display: flex !important;
    justify-content: flex-start !important;
}

.ant-carousel .slick-dots li button {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50% !important;
}

.container5 .ant-carousel .slick-dots li:not(.slick-active) button {
    background-color: #e7ebed;
    opacity: 0.5;
}

.container1 .ant-carousel .slick-dots li.slick-active button {
    background-color: #e74860 !important;
    border-color: #f4f4e9 !important;
    border: 2px solid;
    transform: scale(1.2) !important;
}

.container7 .ant-carousel .slick-dots li.slick-active button {
    background-color: #e74860 !important;
    border-color: #f4f4e9 !important;
    border: 2px solid;
    transform: scale(1.2) !important;
}

.container5 .ant-carousel .slick-dots li.slick-active button {
    background-color: #e74860 !important;
    transform: scale(1.2) !important;
}

.ant-carousel .slick-dots li {
    margin: 0 8px !important;
}

.c2Card.ant-card {
    background-image: url("../public/images/carousel-background.png") !important;
    background-position: center;
    border-radius: 20px !important;
    padding: 0% 5% 1% 7% !important;
}

.c4Card.ant-card {
    background-color: #293449;
    background-position: center;
    border-radius: 12px !important;
}

.container2 .ant-card-body {
    display: grid !important;
    grid-template-rows: 0% 90% 10% 0%;
    height: 40vh;
    padding: 6% 0% !important;
    justify-content: space-between !important;
    color: #fff;
}

.ant-card-body {
    display: grid !important;
    grid-template-rows: 0% 90% 10% 0%;
    height: 35vh;
    padding: 6% 0% !important;
    justify-content: space-between !important;
    color: #fff;
}

.ant-tabs-tab {
    font-family: Arial;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: left;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ffffff7e !important;
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #fff !important;
    font-weight: bold;
}

.ant-tabs-ink-bar {
    background-color: #fff !important;
}

.ant-tabs-nav {
    padding: 1% 3.5%;
    background: linear-gradient(
        272.15deg,
        #0c3246 -30.48%,
        #45374c 95.17%
    ) !important;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.ant-tabs-tab-active .ant-tabs-tab-btn::before {
    content: "•";
    color: #e74860;
    margin-right: 8px;
}

.ant-tabs-tab-btn::before {
    content: "•";
    color: #ffffff7e;
    margin-right: 8px;
}

.fas {
    color: #fff !important;
}

@media only screen and (max-width: 1024px) {
    .container1 .ant-carousel .slick-dots {
        bottom: 9% !important;
        left: 7% !important;
        display: flex !important;
        justify-content: flex-start !important;
    }

    .container2 .ant-card-body {
        height: 25vh;
        padding: 12% 5% !important;
        color: #fff;
    }

    .customer.ant-btn-primary {
        width: 30% !important;
        margin-top: 5%;
    }

    .ant-card-body {
        height: 26vh;
    }

    .demo.ant-btn-primary {
        width: 32% !important;
    }

    .mobileMenuButton {
        color: #fff !important;
    }
}

@media only screen and (max-width: 768px) {
    .readMore.ant-btn-primary {
        padding: 1% 10px !important;
    }

    .container2 .ant-card-body {
        font-size: 0.9rem;
        height: 30vh;
        padding-bottom: 10%;
    }

    .c2Card.ant-card {
        margin-bottom: 8%;
        width: 98%;
    }

    .demo.ant-btn-primary {
        font-size: 0.9rem !important;
        width: 65% !important;
    }

    .c4Card.ant-card {
        margin-bottom: 5%;
    }

    .ant-card-body {
        height: 38vh;
    }

    .customer.ant-btn-primary {
        width: 65% !important;
        margin-top: 2%;
    }

    .container5 .ant-carousel .slick-dots {
        bottom: -4%;
        left: 32%;
    }

    .container7 .ant-carousel .slick-dots {
        bottom: -5% !important;
        left: 30% !important;
    }
}
