.outerContainer {
    padding: 3% 7.5% 7% 7.5%;
}

.heading {
    font-family: Inter;
    font-size: 3.2rem;
    font-weight: 500;
    margin-top: 0;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.subHeading {
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
    margin-top: 0;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
