.outerContainer {
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.outerContainer h2 {
    font-family: Inter;
    font-size: 2vw;
    font-weight: 500;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.subheading {
    font-family: Inter;
    font-size: 2vw;
    font-weight: 400;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0 0 2% 0;
}

.carouselContainer {
    border-radius: 20px;
    width: 80%;
    background-color: #f4f7fb !important;
    padding: 2% 2% 1% 2%;
    border: 1px solid #00000041;
}

.carouselR1Outer {
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #00000041;
}

.carouselR1 {
    color: "#0C3246";
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 1%;
}

.carouselR1 h3 {
    font-family: Inter;
    font-size: 1.4vw;
    color: #0c3246;
    font-weight: 500;
    line-height: 29.05px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.carouselR2 {
    color: #000;
}

.carouselR2 h4 {
    font-family: Inter;
    font-size: 1vw;
    font-weight: 500;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 0;
}

.carouselR2 p {
    font-family: Inter;
    font-size: 0.8vw;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 0;
}

.c5Img {
    height: 5.5vh;
    width: 3vw;
}

@media only screen and (max-width: 1024px) {
    .outerContainer h2 {
        font-size: 1.4rem;
    }

    .subheading {
        font-size: 1.1rem;
        margin-bottom: 5%;
    }

    .carouselContainer {
        width: 90%;
    }

    .c5Img {
        height: 2vh;
        width: 3vw;
    }
}

@media only screen and (max-width: 768px) {
    .outerContainer {
        padding: 2% 3%;
    }

    .subheading {
        margin-bottom: 5%;
    }

    .carouselContainer {
        width: 90%;
    }

    .c5Img {
        height: 2vh;
        width: 5vw;
    }

    .carouselR1 {
        height: 4vh;
        display: block;
        justify-content: center;
        padding: 5%;
    }

    .carouselR1 h3 {
        line-height: 20px;
        margin: 0;
    }

    .carouselR2 h4 {
        text-align: justify;
        margin: 5% 0 0 0;
    }

    .carouselR2 p {
        text-align: justify;
    }

    .uList {
        padding-left: 3%;
    }
}
