.centerAlign {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2% 5%;
}

@media only screen and (max-width: 1024px) {
    .centerAlign {
        padding: 4% 4% 1% 4%;
    }
}
