.outerContainer {
    background-image: url("../public/images/carousel-background.png");
    background-position: center;
    background-size: contain;
}

.customHr {
    position: relative;
    height: 1px;
    border: none;
    background: linear-gradient(to right, #2d2d2d, #f4f4e9, #2d2d2d);
    width: 100%;
}

.carouselContainer {
    width: 80%;
    margin: auto;
    position: relative;
}

@media only screen and (max-width: 1024px) {
    .outerContainer {
        background-size: cover;
    }
}
