.outerContainer {
    padding: 1.5% 5.7% 0 6.7%;
    background: transparent;
}

.outerContainerNoPadding {
    padding: 1% 5.7% 0 6.7%;
    background: transparent;
}

.listStyle {
    cursor: pointer;
    font-family: Inter;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
}

.navbarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoMenuItem {
    margin-right: auto;
    padding: 0;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.outerContainerNoPadding {
    flex-grow: 1;
    justify-content: flex-end;
}

.mobileMenuButton {
    font-size: 24px;
    border: none;
    color: #fff !important;
}

.logoImage {
    padding: 5% 5% 0 68%;
}

@media only screen and (max-width: 1024px) {
    .navbarContainer {
        padding: 2% 4%;
    }

    .logoImage {
        padding: 0 0 0 20%;
    }

    .listStyle {
        color: #000;
    }
}

@media only screen and (max-width: 768px) {
    .logoImage {
        padding: 1% 0 0 9%;
        height: 17%;
        width: 60%;
    }
}
