.outerContainer {
    padding: 1.5% 5.7% 0 6.7%;
    background: transparent;
}

.outerContainerNoPadding {
    padding: 0% 5.7% 0 6.7%;
    background: transparent;
}

.listStyle {
    cursor: pointer;
    font-family: Inter;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
}

.navbarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoMenuItem {
    margin-right: auto;
    padding: 0;
}
