.outerContainer {
    padding: 1% 4% 3% 4%;
}

.flexContainer {
    display: flex;
    align-items: center;
    gap: 2%;
}

.verticalHr {
    width: 0.5px;
    height: 150px;
    background: linear-gradient(0deg, #0c3246 0%, #e74860 100%);
}

.flexContainer h2 {
    margin: 0;
    font-family: Inter;
    color: #e74860;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.flexContainer h4 {
    margin: 0;
    font-family: Inter;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1a1a1a;
}

.flexContainer p {
    margin: 0;
    font-family: Inter;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1a1a1a;
}

.gridContainer {
    padding-top: 3%;
}

.gridContainer h5 {
    font-family: Inter;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #e74860;
    margin: 0;
}

.gridContainer p {
    font-family: Inter;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1a1a1a;
    margin: 0;
}

.horizontalHr {
    border: none;
    height: 1px;
    background: rgba(102, 102, 102, 0.2) 0%;
    margin: 10px 0;
}

.playBtn {
    position: absolute;
    top: 35%;
    left: 45%;
}

.readMoreBtn {
    padding-left: 2.5%;
}
